@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "登录";
}
<link rel="stylesheet" href="~/css/login.css" />
<form id="login_form" class="form" action="/Login/Check">
    <div class="imgcontainer">
        <img src="~/images/img_avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <label><b>用户名</b></label>
        <input type="text" placeholder="请输入用户名" name="username">
        <label><b>密码</b></label>
        <input type="password" placeholder="请输入密码" name="pwd">
        <button type="submit">登陆</button>
        <input type="checkbox" checked="checked"> 记住我
    </div>
    <div style="color:red;text-align:center;">
        @TempData["error"]
    </div>
    <div class="container">
        <button type="button" id="btn_cancel" class="cancelbtn"
                onclick="window.location='/'">
            取消
        </button>
        <span class="psw"><a href="#">忘记密码</a></span>
    </div>
</form>
